# Import

In [1]:
import pandas as pd
import gtfs_kit as gk
import helper #homemade function file helper.py
import warnings
import numpy as np
from tqdm import tqdm

warnings.simplefilter(action='ignore', category=pd.errors.SettingWithCopyWarning)

# Main Dataset Creation

In [2]:

# Load Delays
delays_exp = pd.read_csv('../processed_files/delays_preprocessing_expanded.csv',index_col=[0])
# Load Weather
delays = pd.read_csv('../processed_files/delays_preprocessing_general_dataset.csv',index_col=[0])
#weather = pd.read_csv('prova.csv',index_col=[0])

/var/folders/zt/4qm_9p2d267_7b0p2r1hsg840000gn/T/ipykernel_34468/4175771529.py:4: DtypeWarning: Columns (15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  delays = pd.read_csv('../processed_files/delays_preprocessing_general_dataset.csv',index_col=[0])

In [3]:
delays = delays.reset_index(drop=True)
delays

,codice,punto_partenza,ritardo_partenza,punto_arrivo,ritardo_arrivo,categoria,oaz,opz,op,oa,...,date,sub,dl,oo,od,cn,sep,ope,sea,oae
0,19192,PIAZZA AL SERCHIO,2,AULLA LUNIGIANA,2,REG,1662349440,1662347100,1662347100,1662349440,...,20220905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19194,PIAZZA AL SERCHIO,1,AULLA LUNIGIANA,-3,REG,1662352320,1662349560,1662349560,1662352320,...,20220905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18551,PISA CENTRALE,7,LUCCA,5,REG,1662352800,1662351180,1662351180,1662352800,...,20220905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19191,PIAZZA AL SERCHIO,4,LUCCA,-4,REG,1662352860,1662348300,1662348300,1662352860,...,20220905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18552,LUCCA,2,PISA CENTRALE,-5,REG,1662356640,1662354480,1662354480,1662356640,...,20220905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71792,19183,CASTELNUOVO DI GARFAGNANA,1,PISA CENTRALE,21,REG,1698698580,1698693300,1698693300,1698698580,...,20231030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71793,6242,LUCCA,2,CASTELNUOVO DI GARFAGNANA,28,REG,1698699360,1698695580,1698695580,1698699360,...,20231030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71794,18603,PISA CENTRALE,1,LUCCA,-3,REG,1698699120,1698697200,1698697200,1698699120,...,20231030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71795,18605,PISA CENTRALE,2,LUCCA,10,REG,1698700620,1698699000,1698699000,1698700620,...,20231030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71796,18610,LUCCA,5,PISA CENTRALE,6,REG,1698700620,1698698820,1698698820,1698700620,...,20231030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for index,row in tqdm(delays.iterrows()):
    if(pd.notnull(delays['cn'][index])):
        old_value = row['codice'].split("*")
        delays_exp.loc[(delays_exp.codice == old_value[0]) & 
                       (delays_exp.data_giorno == row['date']), 'codice'] = row['codice']

71797it [02:17, 520.43it/s]

In [5]:
row['codice']

'18610'

In [6]:
value

NameError: name 'value' is not defined

In [ ]:
new_codice

In [ ]:
delays_exp["codice"] = delays_exp["codice"].astype(str)

z = delays_exp.loc[(delays_exp['codice'].str.len() >= 6)]
z.head()

delays_expanded.to_csv('../processed_files/delays_preprocessing_expanded.csv')