# Import

In [1]:
import pandas as pd
import gtfs_kit as gk
import random
import matplotlib.pyplot as plt
import mglearn 

import helper #homemade function file helper.py
import warnings
import numpy as np
#from lazypredict.Supervised import LazyRegressor
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

# Code

In [2]:
n = 168605
s = 150000 #desired sample size
skip = sorted(random.sample(range(1,n),n-s))
main_dataset = pd.read_csv("../processed_files/main_dataset.csv", index_col=[0], skiprows=skip)
#main_dataset = pd.read_csv("../processed_files/main_dataset.csv", index_col=[0])

In [3]:
main_dataset.reset_index(drop=True)
#main_dataset = main_dataset.loc[main_dataset.ritardo_totale < 1000]

,trip_id,arrival_time,departure_time,codice_stazione,stop_sequence,shape_dist_traveled,time_diff,speed,dist_diff,codice,...,time,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),rain (mm),snowfall (cm),snow_depth (m),wind_speed_10m (km/h),wind_direction_10m (°),wmo_code
0,3233_288901,12:42:00,12:42:00,S06404_1,1,0.00000,0.00,0.00,0.00,18568,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
1,3233_288923,12:47:00,12:47:00,S06404_1,5,23.53195,0.13,60.14,8.02,18571,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
2,3233_288993,12:48:00,12:48:00,S06404_1,22,89.91579,0.13,39.25,5.23,19197,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
3,3233_289015,13:12:00,13:12:00,S06404_1,1,0.00000,0.00,0.00,0.00,18570,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
4,3233_289027,12:57:00,12:57:00,S06404_1,1,0.00000,0.00,0.00,0.00,19206,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149636,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-07T22:00,18.5,91.0,20.1,0.0,0.0,0.0,6.1,332.0,53.0
149637,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-08T22:00,20.4,77.0,22.3,0.0,0.0,0.0,2.3,39.0,51.0
149638,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-09T22:00,19.2,91.0,21.4,0.0,0.0,0.0,4.0,180.0,51.0
149639,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-10T22:00,20.1,87.0,22.5,0.0,0.0,0.0,3.3,283.0,55.0
149640,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-11T22:00,21.6,85.0,24.4,0.0,0.0,0.0,3.9,34.0,63.0

In [4]:
main_dataset

,trip_id,arrival_time,departure_time,codice_stazione,stop_sequence,shape_dist_traveled,time_diff,speed,dist_diff,codice,...,time,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),rain (mm),snowfall (cm),snow_depth (m),wind_speed_10m (km/h),wind_direction_10m (°),wmo_code
0,3233_288901,12:42:00,12:42:00,S06404_1,1,0.00000,0.00,0.00,0.00,18568,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
1,3233_288923,12:47:00,12:47:00,S06404_1,5,23.53195,0.13,60.14,8.02,18571,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
2,3233_288993,12:48:00,12:48:00,S06404_1,22,89.91579,0.13,39.25,5.23,19197,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
3,3233_289015,13:12:00,13:12:00,S06404_1,1,0.00000,0.00,0.00,0.00,18570,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
4,3233_289027,12:57:00,12:57:00,S06404_1,1,0.00000,0.00,0.00,0.00,19206,...,2022-02-15T13:00,10.0,82.0,7.1,0.1,0.0,0.0,14.4,217.0,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168600,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-07T22:00,18.5,91.0,20.1,0.0,0.0,0.0,6.1,332.0,53.0
168601,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-08T22:00,20.4,77.0,22.3,0.0,0.0,0.0,2.3,39.0,51.0
168602,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-09T22:00,19.2,91.0,21.4,0.0,0.0,0.0,4.0,180.0,51.0
168603,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-10T22:00,20.1,87.0,22.5,0.0,0.0,0.0,3.3,283.0,55.0
168604,4118_296635,21:45:00,21:45:00,S06013_1,1,0.00000,0.00,0.00,0.00,19215,...,2023-06-11T22:00,21.6,85.0,24.4,0.0,0.0,0.0,3.9,34.0,63.0

main_dataset = main_dataset.drop(['arrival_time','departure_time','codice_stazione','stazione','codice','orario_arrivo','orario_partenza',
                                  'data_giorno','trip_id','time','orario','stop_lat','stop_lon','location_id'], axis=1)

'stop_sequence','oat','relative_humidity_2m (%)','apparent_temperature (°C)','wind_direction_10m (°)',
                                  'rain (mm)','snow_depth (m)','wmo_code','time_diff','dist_diff','opt','temperature_2m (°C)','snowfall (cm)','wind_speed_10m (km/h)'

In [5]:
0.478 #2 N

0.478

In [6]:
#Without speed,shape_dist_traveled,ritardo_partenza,oat,humidity,t apparente, wind dicetion,rain , snowdepth
main_dataset = main_dataset.drop(['arrival_time','departure_time','codice_stazione','stazione','codice','orario_arrivo','orario_partenza',
                                  'data_giorno','trip_id','time','orario','stop_lat','stop_lon','location_id','shape_dist_traveled',
                                  'ritardo_partenza','wmo_code','rain (mm)','relative_humidity_2m (%)','snow_depth (m)',
                                  'wind_direction_10m (°)','snowfall (cm)','wind_speed_10m (km/h)'
                                 ], axis=1)

In [7]:
main_dataset.reset_index(drop=True)

,stop_sequence,time_diff,speed,dist_diff,stop_code,opt,oat,ritardo_arrivo,temperature_2m (°C),apparent_temperature (°C)
0,1,0.00,0.00,0.00,6404,1644925320,1644927180,0,10.0,7.1
1,5,0.13,60.14,8.02,6404,1644924000,1644925620,-3,10.0,7.1
2,22,0.13,39.25,5.23,6404,1644918360,1644925680,3,10.0,7.1
3,1,0.00,0.00,0.00,6404,1644927120,1644928920,0,10.0,7.1
4,1,0.00,0.00,0.00,6404,1644926220,1644931620,0,10.0,7.1
...,...,...,...,...,...,...,...,...,...,...
149636,1,0.00,0.00,0.00,6013,1686167100,1686169560,0,18.5,20.1
149637,1,0.00,0.00,0.00,6013,1686253500,1686255960,0,20.4,22.3
149638,1,0.00,0.00,0.00,6013,1686339900,1686342360,0,19.2,21.4
149639,1,0.00,0.00,0.00,6013,1686426300,1686428760,0,20.1,22.5
149640,1,0.00,0.00,0.00,6013,1686512700,1686515220,0,21.6,24.4

In [8]:
main_dataset.corr()

,stop_sequence,time_diff,speed,dist_diff,stop_code,opt,oat,ritardo_arrivo,temperature_2m (°C),apparent_temperature (°C)
stop_sequence,1.000000,0.161260,0.261451,0.101119,-0.367346,0.010839,0.043703,0.001759,-0.094026,-0.095777
time_diff,0.161260,1.000000,0.457275,0.864376,0.022709,-0.017101,0.057634,0.001902,0.021187,0.018591
speed,0.261451,0.457275,1.000000,0.705537,-0.188843,0.010455,0.064208,-0.000520,-0.024780,-0.022981
dist_diff,0.101119,0.864376,0.705537,1.000000,-0.074416,-0.005987,0.046887,0.001768,0.026070,0.023228
stop_code,-0.367346,0.022709,-0.188843,-0.074416,1.000000,-0.028815,-0.028477,0.003267,0.266087,0.253843
opt,0.010839,-0.017101,0.010455,-0.005987,-0.028815,1.000000,0.067074,0.000954,0.022049,0.026947
oat,0.043703,0.057634,0.064208,0.046887,-0.028477,0.067074,1.000000,0.000944,0.021160,0.025860
ritardo_arrivo,0.001759,0.001902,-0.000520,0.001768,0.003267,0.000954,0.000944,1.000000,0.002709,0.003062
temperature_2m (°C),-0.094026,0.021187,-0.024780,0.026070,0.266087,0.022049,0.021160,0.002709,1.000000,0.990037
apparent_temperature (°C),-0.095777,0.018591,-0.022981,0.023228,0.253843,0.026947,0.025860,0.003062,0.990037,1.000000

In [9]:
main_dataset.describe()

,stop_sequence,time_diff,speed,dist_diff,stop_code,opt,oat,ritardo_arrivo,temperature_2m (°C),apparent_temperature (°C)
count,149641.000000,149641.000000,149641.000000,149641.000000,149641.000000,1.496410e+05,1.496410e+05,1.496410e+05,149641.000000,149641.000000
mean,6.449609,0.086028,47.251596,4.553892,6348.021057,1.667249e+09,1.667220e+09,-4.747158e+01,16.957313,16.587116
std,5.186622,0.049054,22.293383,2.865087,98.459276,5.442798e+07,5.493762e+07,1.930126e+04,6.999873,8.915518
min,1.000000,0.000000,0.000000,0.000000,6013.000000,0.000000e+00,0.000000e+00,-7.466394e+06,-3.700000,-7.800000
25%,3.000000,0.070000,38.450000,2.620000,6304.000000,1.655485e+09,1.655484e+09,0.000000e+00,11.600000,9.700000
50%,5.000000,0.080000,51.120000,3.850000,6324.000000,1.668518e+09,1.668525e+09,2.000000e+00,16.400000,15.700000
75%,9.000000,0.120000,61.150000,6.820000,6404.000000,1.680252e+09,1.680260e+09,4.000000e+00,22.300000,23.800000
max,23.000000,0.430000,96.220000,20.910000,6501.000000,1.698609e+09,1.698610e+09,9.600000e+01,36.600000,39.600000

# Machine Learning

In [10]:
X = main_dataset.drop(['ritardo_arrivo'], axis=1)
Y = main_dataset['ritardo_arrivo']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 4)
# instantiate the model and set the number of neighbors to consider to 3

In [11]:
reg = KNeighborsRegressor(n_neighbors=10)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.3606611935295241

In [12]:
reg = KNeighborsRegressor(n_neighbors=6)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.439929017425957

In [13]:
reg = KNeighborsRegressor(n_neighbors=5)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.4641012314985795

In [14]:
reg = KNeighborsRegressor(n_neighbors=4)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.47573830084274416

In [15]:
reg = KNeighborsRegressor(n_neighbors=3)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.489187511101705

In [16]:
reg = KNeighborsRegressor(n_neighbors=2)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.49164975830125357

In [17]:
reg = KNeighborsRegressor(n_neighbors=1)
# fit the model using the training data and training targets
reg.fit(X_train, y_train)
reg.score(X_test,y_test)

0.42559538660088825

In [18]:
error = []

# Calculating MAE error for K values between 1 and 39
for i in range(1, 40):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred_i = knn.predict(X_test)
    mae = mean_absolute_error(y_test, pred_i)
    error.append(mae)

In [19]:
print(error)

[2.0348025981663147, 1.9251022426559032, 1.940864095230458, 1.9764039988238753, 2.015920451204191, 2.061127297675372, 2.1024679525120575, 2.1374796182940847, 2.168666969607869, 2.195677741840635, 2.2179305551843043, 18.866365061969297, 32.95396870110189, 30.77877782317652, 28.894435682909663, 39.71833985993425, 49.27446001254742, 46.67958473295139, 44.35740824891075, 92.16295875544627, 116.40736427152187, 111.22910495454666, 106.50447264406073, 110.48778656901267, 106.1712629975141, 102.18642706896162, 98.49669289187078, 95.07117845400704, 91.88127869453848, 88.90286635837944, 86.11608971313423, 83.50317420010157, 81.04684734598396, 78.7357839075327, 76.55705617522729, 74.49987971452246, 72.55342445168968, 70.71030473727824, 68.9606937216464]

In [20]:
print(min(error))               # 
print(np.array(error).argmin()) #

1.9251022426559032
1